[2017-12-28 05:07] kikoking1 opened #3 "Plugin Allows for Extraneous Information in URL"
Consider the following url:
`http://mysite.ca/running-child.http://www`

Let's say that page above has a parent page of Running - `http://mysite.ca/running`, which would normally make it `http://dig.mediabot.ca/running/running-child`
But with the Custom Permalink plugin, I have removed the first part of the url to make it simply `/running-child` instead of `/running/running-child`
With the shorter

[2018-01-05 13:16] samiahmedsiddiqui commented on #3
@kikoking1 Thanks for reporting the issue.

I have created 2 pages. Parent Page is "/running" and the child page is "/running-child". When i add any string in the URL it gives the 404 to me.

Like:

1. http://example.com/running-child.http
2. http://example.com/running-child-sami
3. http://example.com/aa/running-child

Please help me to generate this issue so, i can fix this out.

Regards,
Sami

[2018-01-05 21:07] kikoking1 commented on #3
Thank you for your reply! I am very grateful for your help with this.

Can you try this
http://example.com/running-child.http://www.

[2018-01-08 19:59] samiahmedsiddiqui commented on #3
@kikoking1 Checked. But still don't get any issue.
Original URL: http://example.com/running-child (Returns status 200)
Checked URL: http://example.com/running-child.http:/www (Returns status 404)

[2018-01-08 20:02] samiahmedsiddiqui commented on #3
@kikoking1 Suggest you to install Fresh WordPress on your local server and install the Custom Permalinks Plugin and try to generate the issue there.

If you doesn't found the issue then there is some conflict with your theme or some other plugin. If you successfully generated the issue so, kindly provide the steps to produce the issue.

Regards,
Sami

[2018-01-08 20:02] samiahmedsiddiqui commented on #3
@k1sul1 Are you also getting some sort of issue?

[2018-01-12 15:37] kikoking1 commented on #3
@samiahmedsiddiqui thank you so much for working on this issue. I thought I had it nailed down to this plugin, but it may seem that this might not be the case. I'll dig a little more and try to figure out what is causing this issue on our site, it may be a combination of things. Forgive me for not putting a lot of immediate time into this as I am pretty insanely busy right now. I will try to repro

[2018-01-16 19:19] samiahmedsiddiqui commented on #3
@kikoking1 I have released the new version and one of the user is confirmed that this duplication content issue has been resolved.

So, whenever you get time, give it a try of the latest version which is v1.2.10 now and provide your feedback accordingly.

Thanks,
Sami

[2018-01-16 19:20] #3 closed

[2018-01-18 23:17] RyanDwyer opened #4 "Quick Edit dialog shows/edits WP's built-in slug"
In the WP admin, when I go to the Posts list and click Quick Edit on a post, the slug shown is the built-in WP slug. WP's built-in slug is not used when Custom Permalinks is installed. This causes confusion for our client.

If I make a PR that fixes this, will you accept it? Is this something you've looked into before?

[2018-01-19 16:55] samiahmedsiddiqui commented on #4
@RyanDwyer Have you changed the permalink of the page? If yes,  WP's built-in slug doesn't be used. If you have not updated the page link manually then it can be different than the Permalink.

Please create the page and edited that page from the Quick Edit without changing anything in the Permalink field.

Let me know, your thoughts on it.

[2018-01-21 22:59] RyanDwyer commented on #4
Do you mean the other way around?

If I create a new page and edit the slug from the **quick edit dialog**, it will also change on the normal edit screen. I'm guessing this is because your plugin doesn't do anything with the quick edit dialog so it saves the built-in slug, and on the normal edit screen your plugin falls back to showing the built-in slug if there is no override.

If I create a new

[2018-01-22 21:14] codyjoliphant opened #5 "Pagination"
It appears that Pagination on Child Pages is broken. For example, if I have a child page with the custom permalink **example.com/custom/**, the link **example.com/custom/page/2/** will not work.

This is not an issue in version 1.2.8, fyi.

[2018-01-23 21:37] samiahmedsiddiqui commented on #5
@codyjoliphant Issue is fixed in the v1.2.11. Please verify the issue at your end.

Thanks

[2018-01-23 21:42] codyjoliphant commented on #5
@samiahmedsiddiqui The issue seems to be resolved in v1.2.11. Thanks!

[2018-01-23 21:43] samiahmedsiddiqui commented on #5
@codyjoliphant Thanks for you confirmation. Have a good day..!

[2018-01-23 21:43] #5 closed

[2018-01-24 20:20] samiahmedsiddiqui commented on #5
@codyjoliphant Kindly Check the v1.2.12. I have just released the version and one of the customer confirmed that the issue is fixed for him.

You can check at your end.

[2018-01-24 20:24] codyjoliphant commented on #5
@samiahmedsiddiqui Looks like it's all good now. Thanks again.

[2018-01-24 20:26] samiahmedsiddiqui commented on #5
@codyjoliphant Thanks for the quick response and providing your feedback. 💯

Have a good day 😄

[2018-01-25 10:27] palesz107 opened #7 "post or product category permalink settings not working after last update"
Hi :)

I want to modify my post category peramlink.
I changed the default permalink to my custom text.  But after when i click the saves don't changed the url!

Did you found this bug before?

[2018-01-25 10:38] samiahmedsiddiqui commented on #7
Hi @palesz107

Are you working on default category or custom category? If you are working on the default category then it works fine. But, if you are using Custom Category or Product category so, the plugin doesn't works on that.

Custom Category and Product Category would be supported in the future releases.

Let me know your feedback on it.

Thanks,
Sami

[2018-01-25 12:37] palesz107 commented on #7
Hi @samiahmedsiddiqui  :)
ohh yes, I tried in costom and product Category.  Sorry i don't know that . Thank you :)

[2018-01-25 12:52] palesz107 commented on #7
I using  long tim ago. Currently we rebulid our webpage.
I have 49 PostTypes Permalinks.

[2018-01-25 12:57] samiahmedsiddiqui commented on #7
@palesz107 Not sure how important the category/product permalink is for you.

But, if it is much important so, i recommend you to try the Permalinks Customizer Plugin. Make sure to deactivate the Custom Permalinks Plugin and then activate Permalinks Customizer (If you like to use).

For the current custom permalinks, you can migrate them to Permalinks Customizer using batch script option under Per

[2018-01-25 13:03] #7 closed

[2018-02-12 18:43] jhartsoch opened #9 "Custom permalinks breaks Woocommerce Review pagination"
Custom permalinks breaks Woocommerce Review pagination

1) Go here and select reviews tab
https://www.fairhavendev.com/3pregtesstri  (this product uses a custom permalink)

2) Select page 3 of reviews at bottom
https://www.fairhavendev.com/3pregtesstri/comment-page-3#tab-reviews

3) Note that the /comment-page-3/ part of the slug gets stripped off by Custom Permalinks and effectively breaks pagina

[2018-02-12 19:47] samiahmedsiddiqui commented on #9
@jhartsoch Thank you for pointing this out.

I have fixed the issue and release the version 1.2.17. Please take a look of the latest version and provide your valuable feedback.

Thanks

[2018-02-12 20:07] #9 closed

[2018-03-09 07:48] sdwkn commented on #5
It's still broken.

[2018-03-09 10:46] samiahmedsiddiqui commented on #5
@sdwkn What's the issue you are facing? Can you please define?

Also, please mention the version of your WordPress and the plugin.

[2018-03-09 21:20] robk123 opened #10 "Cornerstone problems"
I wasn't sure what the best place to report a bug would be so i reposted the bug here as well.

As stated in this topic: https://wordpress.org/support/topic/conflict-with-cornerstone/.

The problem is still here.

When using your plugin I cannot edit my page inside cornerstone.

See this image for the error: https://ibb.co/mUrRQ7

The moment I disable your plugin it works fine.

Can you please tel

[2018-04-05 06:49] samiahmedsiddiqui commented on #10
Hi @robk123

Thanks for reporting this issue and sorry about the delay in my response.

Can you tell me which theme you are using? As i can't see this issue on storefront or twenty seventeen.  I am using Free Version of the Cornerstone plugin.

Could you guide me how to reach to this content layout if it part of the cornerstone?

Thanks,
Sami

[2018-04-10 23:14] skowronek opened #11 "Line 105 Breaking Change"
For the following url:

www.domain.com/contact-us/feedback (etc.)

This code is a breaking change. Needs to look only at the END of the path, not the entire path.

Many ways to accomplish. If we get a chance to submit pull request we will.

[code]

[2018-04-11 07:36] samiahmedsiddiqui commented on #11
@skowronek Thanks for pointing this out.

Plugin doesn't need these lines anymore. I have removed these lines and hopefully that resolves the issue.

Thanks,
Sami

[2018-04-11 07:58] samiahmedsiddiqui commented on #11
@skowronek Please check the latest version and provide your feedback to me.

Thanks,
Sami

[2018-04-11 11:15] #11 closed

[2018-04-11 15:13] skowronek commented on #11
Thanks @samiahmedsiddiqui .

[2018-04-20 12:47] 5A5K1A opened #12 "Capability not recognized"
Since the capabilities of the admin pages are set to `administrator` we encountered a problem with the "super administrator" role we created ourselves.
I therefor vote for replacing `administrator` with one of the capabilities found on [Roles & Capabilities](https://codex.wordpress.org/Roles_and_Capabilities#Capability_vs._Role_Table) in the WordPress Codex.

* `administrator` can be found in cust

[2018-05-07 17:34] RaymondAngana opened #13 "Windows support"
Hi,

Good day!

Custom-permalinks work great but I'm having real trouble with Windows Server with URL Rewrite 2.1 installed.

WP's custom permalink works just fine. I'm getting URL like `/highlight-1234` but not `/highlight/1234`.

Can you please let me know if there's anything else needed apart from IIS' url-rewrite?

Hoping to hear from you.

[2018-05-16 10:02] samiahmedsiddiqui commented on #13
HI @RaymondAngana

What's the issue you are facing on with Windows Server?

I have tested the plugin on installing the WordPress in the local machine on Windows 10 and everything looks fine to me.

Let me know, what issues you are facing on.

Thanks,
Sami

[2018-05-16 12:42] samiahmedsiddiqui commented on #12
@5A5K1A Capabilities added. There are 2 different Capabilities. One to view the PostTypes Permalinks and another is to view the Category Permalinks.

You can specify the Capabilities according to your requirement. In default these capabilities are defined for the administrator.

[2018-05-16 12:52] #12 closed

[2018-08-13 12:11] PowerUser8852 opened #15 "Yoast Internal Link Checker"
Plugin stores the custom permalink value in the postmeta database with the meta_key custom_permalink.

Does not allow the Yoast Premium plug-in to show orphaned links properly. I will have several links pointing to an article but the article will still show as orphaned.

[2018-09-20 17:42] rku4er opened #16 "Custom permalink URL without a trailing slash redirect to blog index instead of 404"
I have a problem but I am not sure is it fully related to this plugin. I deactivated all the plugins and switched to Twenty Seventeen 1.6 but the problem persists. So it seems it is.

Some time ago we have been started to receive some structured data errors on our google search console. It was caused by invalid page requests: they was ended with a pieces of a post HTML(just parts of post_content).

[2018-09-20 17:48] rku4er commented on #16
Forgot to ask: whether it important/critical that all custom permalinks have trailing slash?

[2018-09-26 10:01] rku4er commented on #16
Ok, @samiahmedsiddiqui, it's clear - it should work in either case.

I did a quick test again on a fresh staging environment and the issue still here. It's a simple install: Custom Permalinks plugin + Twenty Seventeen theme. I have the next permalinks settings:
![permalinks-settings](https://user-images.githubusercontent.com/5741713/46071866-a8b64d00-c189-11e8-9ae3-fd00b2acefa4.png)
To reproduce t

[2018-11-08 08:05] #13 closed

[2018-11-08 08:07] #10 closed

[2018-11-08 08:10] samiahmedsiddiqui commented on #15
Hi @PowerUser8852

Sorry for having delay in noticing this issue.

Does you still facing this issue or has it been fixed by Yoast SEO?

Regards,
Sami

[2018-11-08 08:12] PowerUser8852 commented on #15
Hi there, the issue has still not been fixed.

On Thu, Nov 8, 2018 at 2:10 AM Sami Ahmed Siddiqui <notifications@github.com>
wrote:

[2018-11-08 08:45] samiahmedsiddiqui commented on #15
@PowerUser8852 Do you have development or staging site where i can see and fix this issue?

[2018-11-09 20:50] tgowing opened #19 "Non-existing posts end with index.php instead of 404"
We are using the Custom Permalinks plugin on our website (). We have a an articles page (/freedom-essays) where we list articles from the "freedom-essays" category.

When accessing /freedom-essays/article-slug-that-does-exist/ the post loads correctly, BUT, if we access a url like this:

/freedom-essays/article-slug-which-does-not-exist/

...the index.php file is loaded, which lists the recent pos

[2018-11-12 07:00] samiahmedsiddiqui commented on #19
@tgowing Just do the following things.

1. Change Permalinks to the "Plain" from the Permalinks Settings Page.
2. Reset the permalink settings to as it was before following the point 1.
3. If it doesn't work then please check that your .htaccess file contains the default WordPress Rules. If not then please add them.

Most probably these steps will resolve your issues.

Regards,
Sami

[2018-11-21 20:42] animatrio opened #20 "Home Page is redirecting to a product page"
Home Page (main site URL) is redirecting to a particular product page after update.
Both customers and admin are unable to access/see Home Page on front end.

Check the website -
HOME (redirects to a product)- https://www.grootgadgets.com/
Temporary HOME (till issue resolves) - https://www.grootgadgets.com/shop/

Issue goes away after only after deactivating the plugin. Please fix this asap. thank

[2018-11-22 07:04] samiahmedsiddiqui commented on #20
@animatrio Please download this file replace it with the current file.
[class-custom-permalinks-frontend.php](https://github.com/yasglobal/custom-permalinks/blob/develop/frontend/class-custom-permalinks-frontend.php)

This is the only change i know which may effect the Permalinks from the previous version.

Let me know the results.

Thanks,
Sami

[2018-11-22 07:34] animatrio commented on #20
I will do it in a few hours. Thanks.

On Thu, Nov 22, 2018, 12:34 PM Sami Ahmed Siddiqui <notifications@github.com
wrote:

[2018-11-22 19:32] animatrio commented on #20
Hi, I opened this link and there is no option to download the file.
Also please tell me where do I need to replace this file exactly?

On Thu, Nov 22, 2018 at 12:34 PM Sami Ahmed Siddiqui <
notifications@github.com> wrote:

[2018-11-22 19:38] animatrio commented on #20
I replaced the file, but there is no change. Its acting the same way

On Thu, Nov 22, 2018 at 12:34 PM Sami Ahmed Siddiqui <
notifications@github.com> wrote:

[2018-11-24 06:32] samiahmedsiddiqui commented on #20
@animatrio Have you changed settings of the HomePage from the WP Settings or it is same? Can you provide the WordPress HomePage Settings screenshot?

[2018-11-24 19:42] animatrio commented on #20
No change made in home page settings.

On Sat, Nov 24, 2018, 12:02 PM Sami Ahmed Siddiqui <notifications@github.com
wrote:

[2018-11-26 05:34] samiahmedsiddiqui commented on #20
@animatrio I mean have you changed the selection from this page:
![image](https://user-images.githubusercontent.com/16156106/48994740-a743d980-f166-11e8-878c-38e728e4f122.png)

This is the page from where you can select which page to show as your homepage. Please check that.

Regards,
Sami

[2018-11-26 05:43] animatrio commented on #20
Yes, on this page base url is selected as it should be.

On Mon, Nov 26, 2018, 11:04 AM Sami Ahmed Siddiqui <notifications@github.com
wrote:

[2018-11-26 20:20] animatrio commented on #20
By any chance this plugin can create a 301 Redirect by mistake?
If yes, then how can i delete it?

[2018-11-27 07:29] samiahmedsiddiqui commented on #20
@animatrio What's your "Groot Gadget" URL which is selected as Homepage? One more suggestion, Create a test page and change your homepage to point to the test page and then resave your settings by changing it to your proper Homepage. It may takes one minute to test either it works or not.

This plugin doesn't create any redirect by itself or anyhow.

[2018-11-27 12:43] animatrio commented on #20
Groot Gadgets URL = https://www.grootgadgets.com/ = Home URL

And the latest suggestion did not work. Infact when I changed the home page to point to test page, it failed to load anything showing some error.

[2018-11-28 08:49] animatrio commented on #20
I deleted and replaced the Custom Permalinks plugin. Thanks for your time
but my patience has run out. Site is working fine after deleting it.

On Wed, Nov 28, 2018, 11:57 AM Sami Ahmed Siddiqui <notifications@github.com
wrote:

[2018-11-28 09:02] samiahmedsiddiqui commented on #20
@animatrio OK.

[2018-11-28 09:02] #20 closed

[2018-12-17 10:03] iSiddharthGiri opened #21 "Getting 'Undefined Index' Error Message."
Hello!

I am using the Custom Permalinks Plugin on my website and from today, I started getting an error message:

`Notice: Undefined index: post_type in /wp-content/plugins/custom-permalinks/frontend/class-custom-permalinks-frontend.php on line 204`
`Notice: Undefined index: p in /wp-content/plugins/custom-permalinks/frontend/class-custom-permalinks-frontend.php on line 204`
`Notice: Undefined va

[2018-12-17 18:30] samiahmedsiddiqui commented on #21
Hello @iSiddharthGiri

Thank you for reaching out. As per your provided error logs i am assuming it is only happening on the Draft Post. Is that correct?

I don't think it is happening on the published posts for you.

By the way, which version of the plugin you are using?

Regards,
Sami

[2018-12-18 13:16] iSiddharthGiri commented on #21
Hello!

No, I am getting this error whenever I try to preview any post(Published or Draft both).

I am using the 1.4.0 version.

Thanks.

[2019-01-23 15:31] kick-point opened #22 "Conflict with Classic Editor plugin"
Custom Permalinks appears to have a conflict with the Classic Editor plugin, causing the URL edit function to not be available when Classic Editor is active.

We ran some tests and found that the bug shows up even under the following conditions:

WordPress version: 5.0.3
Active theme: Twenty Nineteen
All plugins inactive except Custom Permalinks and Classic Editor
PHP version: 7.2.1

Deactivating

[2019-01-29 06:12] samiahmedsiddiqui commented on #22
Hi @kick-point

Thanks for reporting this issue and sorry for the delay in my response. I was on vacations and just started today to reply the emails.

I have quite long list of emails, making them reply at this moment and will start providing the fix ASAP for me.

Please be patient, i will check your query and will back to you with some solution.

Thanks,
Sami

[2019-06-11 15:06] web1100manager opened #24 "URL with punctuation won't update"
Lately I've noticed if I find a post on our site that had punctuation in it such as "that's" and then try to update the URL to remove the single quote it will not update. I have tried multiple times and am not sure what is causing it to not update. I've had to go into the database and manually update it there to get it to change

I should also add:
WordPress Version: 5.2.1
PHP Version: 7.2.18

[2019-06-11 19:00] samiahmedsiddiqui commented on #24
@web1100manager, firstly permalinks do not contain punctuation when generated. In order to re-create the issue which you highlighted, I created a sample URL with a single quote but the generated permalink didn't include any single quote. Here's the sample title and URL which I generated:
Hello world, how's it going
/hello-world-hows-it-going/

Secondly, if a permalink contains a single quote, it c

[2019-06-11 19:41] web1100manager commented on #24
Hi @samiahmedsiddiqui - you are correct that the generated permalink does not include punctuation (I just tested myself). That must have been from one of our content editors that added it in after it was generated. However, after a single quote was added, I am still unable to remove it or edit the permalink.

Screenshot attached
![Capture](https://user-images.githubusercontent.com/51712453/5930129

[2019-06-11 20:00] samiahmedsiddiqui commented on #24
Okay got it. Thanks for pointing this out. I'll fix this in the upcoming version that is 1.5.2 and update you to verify.

[2019-06-14 17:57] web1100manager opened #25 "Permalink choosing incorrect page template to display"
I'm not sure what the issue could be exactly, however I noticed that after making a new post with a custom post type and I try to view the page, WordPress utilizes the wrong template. For example, I made a custom post type for 'jobs', the post type has custom slug rewriting as seen below.
`'rewrite' => array( 'slug' => 'careers', 'with_front' => false)`

If I make a new job and the URL is 'example

[2019-07-03 18:17] samiahmedsiddiqui opened #27 "Warning: count(): Parameter must be an array or an object that implements Countable"
Right after installation I received this error message:
Warning: count(): Parameter must be an array or an object that implements Countable in public/wp-content/plugins/custom-permalinks/admin/class-custom-permalinks-admin.php on line 300

Attempted to use the plugin as instructed but it did nothing.

[2019-07-03 18:19] samiahmedsiddiqui commented on #27
This is originally reported by @toad78 but mistakenly opened on the wrong repo so, just correcting it.
https://github.com/yasglobal/permalinks-customizer/issues/24

[2019-07-05 16:24] samiahmedsiddiqui opened #28 "Undefined index and undefined variable error"
We have been noticing a series of errors at the editor end and also during draft sessions; which probably clogs the database and causes a huge memory leak and disrupts regular server operation often; only resolved by force killing the server.

wp config details

‘WP_MEMORY_LIMIT’, ‘256M; ‘AUTOSAVE_INTERVAL’, 160; max_execution time 500

Attached a sample screenshot for your reference, kindly look

[2019-07-05 16:25] #28 closed

[2019-07-05 19:53] #27 closed

[2019-07-29 06:38] kevinmrl opened #29 "Got 404 Error when category custom permalink is part of post custom permalink"
Hello,

Got 404 Error when requesting post with custom permalink, I will provide steps to reproduce:

1. Go to Settings->Permalinks and ensure that:

- Selected Custom Structure with value “http://yourdomain.com/%category%/%postname%/”

- Category base value is “.”

2. Create category – Name: “My new category”, Slug: “my-new-category” and press Add New Category

3. Change category Custom Permalink

[2019-11-19 16:34] spinfly opened #31 "'View" button for previewing custom post types should use 'view_item' label defined when custom post type is registered"
Currently, the "View ..." button on admin pages uses ucfirst( $post->post_type ). This looks clunky when usings a custom post type like 'press_releases'. See attached screenshot.

My recommendation is to use the 'view_item' label that is defined when a post type is registered for this button.

The code to be modified is here:

custom-permalinks/frontend/class-custom-permalinks-form.php
Lines 180 a

[2019-12-04 14:56] Fleuv commented on #4
Who got time to fix this issue?

[2020-03-17 16:57] julian-sloman-ffatg opened #32 "PHP 7.4 - replace {} with [] on 499 and 500"
Hi Sami,

As per [WP Support topic](https://wordpress.org/support/topic/php-7-4-support-4/) there's still some PHP 7.4 compatibility issues that need to be sorted out. This one is easy:

`/wp-content/plugins/custom-permalinks/frontend/class-custom-permalinks-frontend.php` on lines 499 and 500 uses `{` curly brackets `}` instead of `[` square ones `]` which makes PHP 7.4 upset, since it's depreciat

[2020-03-25 12:30] houstona opened #33 "Permalink Breaks"
The custom permalink has randomly changed on us sometimes.

It goes from this:

/products/food-conveyor/success-stories/bagged-olives

To this:

/products/food-conveyor/productsfood-conveyorproductsfood-conveyorsuccess-stories/bagged-olives

[2020-04-02 21:40] MasterNS opened #34 "Deprecated: category_link"
After upgrade to WP 5.4 following error is generated across site (both dashboard and frontend): **Deprecated: category_link is deprecated since version 2.5.0! Use term_link instead**
please update/replace deprecated functions

[2020-04-03 20:33] #31 closed

[2020-04-03 20:35] samiahmedsiddiqui commented on #31
@spinfly Done, sorry I didn't review this issue before, just fixed and will available in the upcoming in the next few days.

[2020-04-07 12:09] #32 closed

[2020-04-07 12:11] samiahmedsiddiqui commented on #32
@julian-sloman-ffatg Thank you for reporting this issue and sorry about my late response. I have fixed this issue and the fix will be released soon with a bunch of other things.

[2020-04-07 14:29] #34 closed

[2020-04-07 14:30] samiahmedsiddiqui commented on #34
@MasterNS Thank you for reporting this issue and sorry about my late response. I have fixed this issue and the fix will be released soon with a bunch of other things.

[2020-04-16 13:27] thgmourao opened #35 "Error when editing/updating permalink"
Hello Sammy. Greetings from Brazil

I'm experiencing some errors with the permalink.

After creating a page, or a post and publishing it and updating the content many times it works fine.... BUT when editing the permalink later, (let´s say days or weeks), it stops working.

I guess there´s a conflict with the Polylang plugin action as it happens ONLY in other languages (/pt/ or /es/). The English

[2020-04-17 13:29] houstona commented on #33
The permalinks changing on their own has happened once before this occurrence.

Here also some additional information on this:
WordPress version is: 5.4

**We are using the following plugins:**
Autoptimize	Version 2.6.2 by Frank Goossens (futtta)
Better Search Replace	Version 1.3.3 by Delicious Brains
Classic Editor	Version 1.5 by WordPress Contributors
Custom Permalinks	Version 1.5.1 by Sami Ahme

[2020-04-27 18:57] houstona commented on #33
@samiahmedsiddiqui any news on this?

[2020-05-19 21:15] samiahmedsiddiqui commented on #33
@houstona Sorry for my late response but I am still not able to generate your reported bug and none of the plugin seems to be conflicting that causing the issue.

Few questions to debug this issue:
- How often it happens?
- Is it still happening for you?
- Is it happen with all the Permalinks customized with this plugin or some of them? If some of them then what's a difference in those posts and t

[2020-05-22 18:03] houstona commented on #33
@samiahmedsiddiqui it has happened twice now. It hasn't happened since switching it back to the correct URL. It appears to only be pages that are affected so far.

[2020-06-02 18:39] houstona commented on #33
@samiahmedsiddiqui this is the 3rd or 4th time it has happened now.

[2020-06-24 15:16] AndyS7A commented on #34
When is the release that includes this fix?

[2020-07-29 11:19] Ercogx opened #36 "Bug with WPML and Use directory for default language"
If I use WPML and have checked for "Use directory for default language" and I have the same links for the two languages, I have problem with Language switcher - it makes a link view "site.com/en/posts" "site.com//en/posts". It happens in function custom_permalinks_trailingslash
[code]

[2020-07-30 20:20] samiahmedsiddiqui commented on #36
Hi @Ercogx

I think, this issue is already fixed. Can you please try this [Alpha version](https://github.com/yasglobal/custom-permalinks/releases/tag/v1.6.0-alpha).

If you have any development server then it will be really easy otherwise I recommend you to install this alpha version for the **testing purpose** only on production.

[2020-07-31 06:02] Ercogx commented on #36
Cool it works? but unfortunately not for all cases. If on one page I use a normal slag not custom permalink and on another I use a custom permalink with the same link I will get the same bug)

[2020-07-31 06:45] samiahmedsiddiqui commented on #36
@Ercogx Do you have any development server?

[2020-07-31 08:13] Ercogx commented on #36
So far, the site is only local, but I was able to reproduce the error on the test site

[http://wp.little-about-web.top/en/test/](http://wp.little-about-web.top/en/test/)

[2020-08-03 16:01] samiahmedsiddiqui commented on #36
@Ercogx Please provide me the access on [this](mailto:sami.siddiqui@yasglobal.com) email address. Also, please sent me the test link so I can quickly test the things.

[2020-08-03 16:35] Ercogx commented on #36
@samiahmedsiddiqui sent email

[2020-08-04 16:46] samiahmedsiddiqui commented on #36
@Ercogx Issue fixed, please update to the [beta](https://github.com/samiahmedsiddiqui/custom-permalinks/releases/tag/v1.6.0-beta) version and test the issue again.

Let me know if it will not fixed for you.

[2020-08-06 13:19] samiahmedsiddiqui commented on #34
@MasterNS It is going to be released tonight or tomorrow.

[2020-08-06 15:16] samiahmedsiddiqui commented on #33
@houstona Issue is that I am not able to generate this issue on my end. If you are still facing this issue then I need your and the site owner help to debug this issue.

If you could help me so please provide me your any dev or staging site access where you are seeing this issue so I can review it.

[2020-08-06 17:09] samiahmedsiddiqui commented on #35
@thgmourao Sorry for the late reply. Can you please check this issue again with [this](https://github.com/samiahmedsiddiqui/custom-permalinks/releases/tag/v1.6.0-beta3) beta version? I have fixed couple of bugs that also contains conflicts with WPML.

I think those fixes should automatically fixes PolyLang issue, can you please recheck? If everything fixed for you then that would be great otherwis

[2020-08-06 17:16] #25 closed

[2020-08-06 17:37] #22 closed

[2020-08-06 17:37] #21 closed

[2020-08-06 17:38] #15 closed

[2020-08-08 00:19] samiahmedsiddiqui commented on #36
@Ercogx Thank you so much for your support and testing the issues with me. I believe all your reported issues are sort out. I have officially released `v1.6.0` that contains all your fixes.

Please feel free to open a new issue if you find any new issue.

Regards,
Sami

[2020-08-08 00:19] #36 closed

[2020-08-17 17:09] McYolic opened #38 "Paged NextGen Galleries Broken with Custom Permalinks 1.62"
Paged NextGen Galleries seem broken with Custom Permalinks 1.62.  Rolled back to Custom Permalinks Version 1.5.1 and that "fixed" the issue for now but would like to update the plugin without breaking galleries.

[2020-08-17 21:14] samiahmedsiddiqui commented on #38
@McYolic Do you have any dev or staging server where you can update the plugin the plugin and provide the URL of it with Site access?

It will save my time to generate this issue.

[2020-08-17 22:55] McYolic commented on #38
It's happening across multiple builds but here's a clean test install (Wordpress's default 2020 Theme) with everything fully updated - http://dev.shiskey.com/critter-gallery

/wp-admin    admin   j%N31B4Qtl

You'll see NexGens pagination along the bottom no longer works unless Custom Permalinks is rolled back.

[2020-08-18 15:20] samiahmedsiddiqui commented on #38
@McYolic Thank you for providing the test install access with FTP. I have updated your comment and removed the access details from it for the security purpose.

[2020-08-18 19:37] #38 closed

[2020-08-18 19:44] samiahmedsiddiqui commented on #38
@McYolic Thank you for your help and providing your website access. You can find couple of PHP errors in your test install log because of me so please ignore them.

I have fixed this issue and will release it tonight or tomorrow in `v1.6.3`.

[2020-08-18 19:55] samiahmedsiddiqui commented on #38
@McYolic I have released alpha version before the official release of the `v1.6.3`, please use this version on your test install and verify that it is solving your issue or not.

You can download the alpha version from here:
https://github.com/samiahmedsiddiqui/custom-permalinks/releases/tag/v1.6.3-alpha

[2020-08-18 20:22] McYolic commented on #38
Seems to have done the trick. Updated to 1.6.3 alpha on several live professional builds as well as the dev link without issue -
http://dev.shiskey.com/critter-gallery/

Thank you for continued support of this excellent plugin.

[2020-08-18 20:38] samiahmedsiddiqui commented on #38
@McYolic Thank you for providing your feedback 😄

If you like the plugin then please provide your valuable feedback to the WordPress Forum.
https://wordpress.org/support/plugin/custom-permalinks/reviews/?rate=5#new-post

and save this repo in your **Starred** Repos list.

[2020-08-30 19:41] manuluyten opened #39 "Oembed links are not correctly handled"
By default, Wordpress includes 2 oembed headers:
<link rel="alternate" type="application/json+oembed" AND <link rel="alternate" type="text/xml+oembed"

When custom-permalinks is activated, the address is correctly replaced in the header.
However, when opening the included oembed links, a json oembed_invalid_url 404 response is generated.
However, when opening the oembed address with the original U

[2020-09-05 21:29] codemonkeynorth opened #41 "custom permalinks input box missing / disappears"
The meta box does not show. I can temporarily enable it but the input field is missing

When I reload the page, I can see the metabox appear briefly (without the input field) then the whole metabox disappears again

* Wordpress 5.4.2
* Custom Permalinks 1.7.1
* Disable Gutenberg 2.2
* ACF Pro 5.9.0
* ACF Extended 0.8.7.2

![image](https://user-images.githubusercontent.com/20189985/92313650-02eef80

[2020-09-05 21:44] codemonkeynorth commented on #41
as you can see the metabox div for Custom Permalinks is empty:
![image](https://user-images.githubusercontent.com/20189985/92313910-00da6880-efc9-11ea-9b65-24c802839f9e.png)

Advanced Custom Fields PRO: 5.9.0
Advanced Custom Fields: Extended 0.8.7.2
Custom Permalinks: 1.7.1
Disable Gutenberg: 2.2
Yoast Duplicate Post: 3.2.5
Yoast SEO: 14.9

[2020-09-06 17:31] codemonkeynorth commented on #41
appears to be a conflict with Disable Gutenberg 2.2
https://wordpress.org/plugins/disable-gutenberg/

if i deactivate this, i get a custom permalink input box

I will raise with him as well

[2020-09-07 19:52] samiahmedsiddiqui commented on #41
Hi @codemonkeynorth

Thank you for reaching out to me. You are not seeing the field in the meta box because when the Gutenberg is disabled **Custom Permalinks** overrides the default WP Permalink field which shows right below the post title but in your case I am not seeing that field.

Please check your browser console or share your browser console screenshot to verify there is no JS issue. Also,

[2020-09-08 10:37] KatyLamb opened #42 "WP built in slug is unchangeable"
I have tried multiple times to fix the built in slug (which is coming up as (https://fingertipstyping.co.uk/transcription-services-2/)
I literally have no idea why its coming up as number 2 as there are no duplicates and the plugin doesn't allow me to change the built in slug.....any suggestions? Edit permalink and quick edit don't work. Thanks.

[2020-09-08 10:38] KatyLamb commented on #4
I have tried multiple times to fix the built in slug (which is coming up as (https://fingertipstyping.co.uk/transcription-services-2/)
I literally have no idea why its coming up as number 2 as there are no duplicates and the plugin doesn't allow me to change the built in slug.....any suggestions? Edit permalink and quick edit don't work. Thanks.

[2020-09-08 12:45] samiahmedsiddiqui commented on #42
@KatyLamb when I hit https://fingertipstyping.co.uk/transcription-services-2/ it redirects me to https://fingertipstyping.co.uk/2017-now-thats-a-wrap/.

Have you resolved the issue or am I seeing something incorrect?

[2020-09-14 13:02] abdoham213 commented on #21
hello all,

Have you fixed this problem? can you share the solution with me?

[2020-09-14 16:35] samiahmedsiddiqui commented on #21
@abdoham213 I have already released the fix. Are you still having this issue? If yes, then can you please let me know what plugin version you are using and provide me the errors what you are getting?

[2020-09-25 09:20] samiahmedsiddiqui commented on #41
@samiahmedsiddiqui Is there any update on this issue?

[2020-09-25 09:21] samiahmedsiddiqui commented on #42
@KatyLamb Can you please provide so either I can fix this issue or close it.

[2020-09-25 10:02] codemonkeynorth commented on #41
@samiahmedsiddiqui sorry, I’ll get back to you shortly on this. I need to prep a test site

[2020-09-25 12:41] samiahmedsiddiqui commented on #41
Let me know once the setup is complete

[2020-09-30 23:54] codemonkeynorth commented on #41
Hi @samiahmedsiddiqui

I think the problem is when gutenberg is disabled via code...

 `add_filter("use_block_editor_for_post_type", "disable_gutenberg_editor");function disable_gutenberg_editor() { return false; }`

I think your plugin does not understand this parameter enough to work out that gutenberg isn't present? (I believe all the plugins use that method under the hood)

I shall investigate

[2020-10-01 00:01] codemonkeynorth commented on #41
Hi @samiahmedsiddiqui

sorry possibly my bad.. I disabled ACF Pro 5.9.1 and the fields come back

I will see if I can work out if it's a config issue or if I need to pick this up with Elliot

thanks
J

### Scenario 4
**Custom Permalinks Enabled / Guternberg Disabled / ACF Pro Disabled**
![image](https://user-images.githubusercontent.com/20189985/94751857-857a9580-0381-11eb-92d3-bface15af30b.png)

[2020-10-01 00:20] codemonkeynorth commented on #41
Hi @samiahmedsiddiqui

not sure about this.. it's not a problem, it just doesn't quite render in the right place?

(The Custom Permalinks Meta Box at the bottom is empty, but there's a box-less version at the top)

hope that helps anyway
thanks
J

### Scenario 5
**Custom Permalinks Enabled / Gutenberg Disabled / ACF Pro Enabled / no hidden fields (ACF setting)**
![image](https://user-images.github

[2020-10-01 00:40] codemonkeynorth commented on #41
*for reference ACF gives these options for each Custom Field setup)
https://www.hereswhatidid.com/media/acf-gotcha-hideonscreen.png

likely disabling `slug` or `permalink` broke it

[2020-10-01 06:46] samiahmedsiddiqui commented on #41
@codemonkeynorth If the Gutenberg is disabled then the Custom Permalinks Meta Box is empty and gets hidden. This is not a bug, this is what it is supposed to do.

Actually with Classic Editor, Custom Permalinks override the WP default permalink field that shows up right below the title field (What you can see in your scenario 5 screenshot), this is the actual behavior and how does it had worked be

[2020-10-01 06:50] samiahmedsiddiqui commented on #42
@KatyLamb As per not getting any response, I am closing this issue. Please feel free to open a new one if you face any issue.

Thanks and Regards,
Sami

[2020-10-01 06:50] #42 closed

[2020-10-01 06:51] samiahmedsiddiqui commented on #35
@thgmourao As per not getting any response from than a month, I am closing this issue. Please feel free to open a new one if you face any issue.

Thanks and Regards,
Sami

[2020-10-01 06:51] #35 closed

[2020-10-01 06:52] samiahmedsiddiqui commented on #33
@houstona As per not getting any response from more than a month, I am closing this issue. Please feel free to open a new one if you face any issue.

Thanks and Regards,
Sami

[2020-10-01 06:52] #33 closed

[2020-10-01 06:53] samiahmedsiddiqui commented on #19
@tgowing As per not getting any response, I am closing this issue. Please feel free to open a new one if you face any issue.

Thanks and Regards,
Sami

[2020-10-01 06:53] #19 closed

[2020-10-01 10:13] codemonkeynorth commented on #41
Hi @samiahmedsiddiqui

Thanks for the detailed reply.

I think this is my mistake in the end, specifically from having ACF hiding fields accidentally.

The Custom Permalinks metabox does actually get hidden as you describe on page load, but I had then gone to “Screen Options” at the top of the page and enabled it, bringing back the empty meta box at the bottom

I’ll try the new version though and

[2020-10-01 10:54] samiahmedsiddiqui commented on #41
Got it.

That would be great

Thanks,
Sami

[2020-10-01 12:21] samiahmedsiddiqui commented on #39
Hi @manuluyten Sorry for writing back to you after a month and Thank you for reporting this issue.

I have fixed this issue and released an alpha version of the plugin that you can download from the Github for the testing purpose.
https://github.com/samiahmedsiddiqui/custom-permalinks/releases/tag/v2.0.0-alpha.1

Please test and let me know your feedback.

Thanks and Regards,
Sami

[2020-10-01 12:34] Ercogx opened #43 "The problem is when there is a category in the structure of permalniks"
Hi, I have a new error if I specify /% category% / in the permalink structure. When I create a new post and attach a child category to it, this post is not available and I get 404. If the category is not a child but the main one - then everything is ok

[2020-10-01 19:34] samiahmedsiddiqui commented on #43
Hi @Ercogx I have changed the permalink structure to `/%category%/%postname%/`. Create a new Category with the name of **Parent Category** and then Create another Category with the name of **Child Category** under **Parent Category**.

After that, I have created a new post called **Test Post** and select **Child Category** so permalink becomes: `/parent-category/child-category/test-post/`

and wor

[2020-10-01 19:49] samiahmedsiddiqui commented on #29
Hi @kevinmrl Apologies for writing you after such a long time. I think, I have already fixed this issue in v1.7.1 as I am not able to generate this anymore but before it was generating. Can you please recheck So I can either dig into it if it still an issue or close this.

Thanks and Regards,
Sami

[2020-10-04 10:41] samiahmedsiddiqui commented on #24
Fixed applied in https://github.com/samiahmedsiddiqui/custom-permalinks/commit/61c68c1c4744cacb6b8b6344a15e4851afd8cc56 and It is going to be released in `v2.0.0`.

[2020-10-04 10:41] #24 closed

[2020-10-04 10:53] samiahmedsiddiqui commented on #39
This issue was fixed in https://github.com/samiahmedsiddiqui/custom-permalinks/commit/cea6892c1f79582fa7273849d641e4749cc71d1c and will be relased in `v2.0.0`.

[2020-10-04 10:53] #39 closed

[2020-10-07 01:18] codemonkeynorth commented on #41
Hi

Behaviour is the same, so as expected

Thanks
J

[2020-10-07 01:29] codemonkeynorth opened #44 "(PHP 7.4) Deprecated: Array and string offset access syntax with curly braces is deprecated"
Hi @samiahmedsiddiqui

Not a big issue as it can be turned off in WP_DEBUG, but just a heads up that the code is deprecated for PHP 7.4 in `class-custom-permalinks-frontend.php` Line 498 & 500

`Array and string offset access syntax with curly braces is deprecated`
https://github.com/samiahmedsiddiqui/custom-permalinks/blob/25a482a57a6ac8464ab927ffb60855dc6f47514c/frontend/class-custom-permalinks-

[2020-10-07 05:43] samiahmedsiddiqui commented on #41
Hi @codemonkeynorth Thank you for your response. I am closing this issue now.

[2020-10-07 05:43] #41 closed

[2020-10-07 05:50] samiahmedsiddiqui commented on #44
Hi @codemonkeynorth

You are referring 2 years back code. I have already fixed this issue in `v1.6.0`. You can check this in latest version of the plugin which is `1.7.1` and let me know if it's there.

Thanks and Regards,
Sami

[2020-10-07 09:40] codemonkeynorth commented on #44
Hi @samiahmedsiddiqui

Sorry I shall check version!

Thanks
J

[2020-10-11 01:45] codemonkeynorth opened #45 "admin delete action fails if WP_SITEURL is different to WP_HOME"
Hi,

I'm using bedrock,which sets up Wordpress like this
[code]

so the admin is under `http://test.local/wp/wp-admin`

most things work ok but eg when I try a (bulk) delete action it tries to post to
`http://test.local/wp/wp/wp-admin/admin.php?page=cp-post-permalinks`

note the `wp/` twice

thanks
J

[2020-10-11 02:01] codemonkeynorth commented on #45
the problem is this line (for example)
https://github.com/samiahmedsiddiqui/custom-permalinks/blob/master/admin/class-custom-permalinks-post-types.php#L213

the `site_url` is `http://test.local/wp`
but the `request_uri` is `/wp/wp-admin/admin.php?page=cp-post-permalinks`

Yoast's implementation may work better for action urls? eg...

[code]

https://github.com/Yoast/wordpress-seo/blob/043009c51bbd

[2020-10-14 06:58] samiahmedsiddiqui commented on #45
Hi @codemonkeynorth Thank you for reporting this issue. I am going to completely change the way of this page. Once I am done with then I will ping you for the review at your end.

[2020-10-19 09:21] damianszewczyk opened #46 "WP API is broken after saving taxonomy a couple of times"
Hello!

I'd like to report to you an important bug which I found during using your plugin. After updating a few categories like the description, the WP API is crashed and returning 404.
To fix this, I have to re-save Permalinks of WP, then API is working as well.

Did you meet with a similar case? Or do you have an idea how to prevent this in the future?

P.S. the server is running on Nginx.

Rega

[2020-10-20 19:24] samiahmedsiddiqui opened #47 "Prevent make_redirect method when parse_request succeeded"
https://wordpress.org/support/topic/make-redirect/

[2021-02-09 16:39] manuluyten opened #49 "404 error when post/page custom permalink is part of category custom permalink"
I am running all latest versions:
WP 5.6.1
custom-permalinks 1.7.1

Steps to reproduce
I have 1 page (or) post with 4 example custom permalink /faq/
I have 1 category with 4 example custom permalink /faq/category1/

The category will generate a 404 error.

[2021-06-14 18:52] mikehues opened #50 "Console error: wp-json/custom-permalinks/v1/get-permalink/4556 401 (Unathorized) script-form-1.7.1.min.js?ver=5.7.2:1"
Wordpress 5.7.2
Twenty Twenty-One 1.3
Custom Permalinks 1.7.1

I disabled all other plugins and created a new page. I edit the page and make a simple text change and click 'Update'. Shortly after the "Page update. View Page" message pops up at the bottom of the page, this error shows up in the console:

GET https://testsite.local//wp-json/custom-permalinks/v1/get-permalink/4556 401 (Unauthorized).

[2021-06-24 09:58] sabaz0 opened #51 "Posts not accessible when using Custom Permalinks together with the Avada Theme global elements"
The plugin does not distinguish between Avada global elements (post type fusion_element) and regular post types (post or page).
This results in two entries in the custom permalinks table, one for the post itself and the other for the global element within it, both having the same custom URL.
This makes the post inaccessible. Workaround is to search for the fusion_element entry and delete it.
Sugge

[2021-07-30 20:14] #51 closed

[2021-07-30 20:18] samiahmedsiddiqui commented on #50
Hi @mikehues

Sorry for facing this issue. Can you please check whether this is still an issue for you or already fixed in the new version. I am not able to generate it in the new version. If you are still able to generate this issue then please let me know.

Thanks,
Sami

[2021-07-30 20:20] samiahmedsiddiqui commented on #49
Hi @manuluyten Sorry, I am not able to understand your issue. Can you please elaborate?

[2021-07-30 20:21] samiahmedsiddiqui commented on #47
Fixed in https://github.com/samiahmedsiddiqui/custom-permalinks/commit/c4c25b3fcc0eccc922322f3d340affc48acb24e6

[2021-07-30 20:21] #47 closed

[2021-07-30 20:24] samiahmedsiddiqui commented on #46
Hi @damianszewczyk

I have replied on WordPress regarding your query that we never faced this issue before. Please provide some use-case scenario to us.

Also, please disable all the plugins and use default WordPress theme to debug whether it's plugin issue or some conflict with any other plugin.

Thanks,
Sami

[2021-07-30 20:26] samiahmedsiddiqui commented on #45
@codemonkeynorth Please check this issue with the latest version of the plugin. Hopefully, It won't be an issue anymore.

[2021-07-30 20:26] #45 closed

[2021-07-30 20:27] #44 closed

[2021-07-30 20:28] samiahmedsiddiqui commented on #43
As per not getting any response, I am marking closing this issue.

[2021-07-30 20:28] #43 closed

[2021-07-30 20:45] #29 closed

[2021-07-30 20:47] #4 closed

[2021-07-30 20:48] #16 closed

[2021-08-01 15:59] manuluyten commented on #49
Dear @samiahmedsiddiqui ,

I will explain the casus with different words.

Try the following on a test environment:
- Create a page and define the address with custom-permalinks as: /faq/
- Create a category and define the address with custom-permalinks as /faq/category1/

The category will generate a 404 error.

I hope this helps.
Manu

[2021-08-02 07:59] #49 closed

[2021-08-02 08:00] samiahmedsiddiqui commented on #49
@manuluyten Thank you for the detailed information. I have fixed the issue and it would be available in `v2.0.1` that would probably be released on **Aug 02** or **Aug 03**.

[2021-08-02 09:41] manuluyten commented on #49
Much appreciated!

Manu Luyten
Movimento dell'Arte BV

***@***.*** ***@***.***>
www.movimentodellarte.be <https://www.movimentodellarte.be/>

+32 474 94 90 34

[2021-08-02 11:55] samiahmedsiddiqui commented on #49
@manuluyten v2.0.1 has just released. Please update the version and let me know whether it fixes the issue for you or not.

[2021-08-02 11:57] manuluyten commented on #49
I am in holiday modus at this point.

I will check and get back to you as soon as possible.

Manu Luyten
Movimento dell'Arte BV

***@***.*** ***@***.***>
www.movimentodellarte.be <https://www.movimentodellarte.be/>

+32 474 94 90 34

[2021-08-06 13:22] mikehues commented on #50
Hi Sami,

Sorry it took so long for me to reply. Looks like the issue is partly resolved with the new version.

updated versions:
Wordpress 5.8
Twenty Twenty One 1.4
Custom Permalinks 2.0.1

When I update the custom permalink, there is no longer an error in the console. Also, the 'View Page' button link in the Custom Permalinks metabox is updated correctly. But, the view page links in the top admi

[2021-08-06 15:05] samiahmedsiddiqui commented on #50
@mikehues Thank you for detailed reply.

In this case, old permalink should redirect to the new permalink instead of serving the page. (I will check if I am able to re-produce this issue on my end).

[2021-08-13 12:23] samiahmedsiddiqui commented on #46
As per not getting any response, I am closing this issue.

[2021-08-13 12:23] #46 closed

[2021-08-13 14:15] samiahmedsiddiqui commented on #50
@mikehues I have released `v2.2.0` that fixes couple of issues you have pointed. Can you please test your pointed issues with the `v2.2.0`?

[2021-08-13 15:01] mikehues commented on #50
Hi Sami,

thanks for your work on this.

I just ran the same tests with version 2.2.0

I can confirm that, upon updating the permalink, all three 'View Page' links are updated to the new permalink. So, this has fixed the issue of clicking 'view page' and getting 'page not found' or seeing the page at the old permalink. But, if I manually type in the old permalink, the page loads successfully at th

[2021-08-13 15:14] samiahmedsiddiqui commented on #50
@mikehues old permalink means old customized permalink or WP permalink? Also, can you please test this after deactivating all the other plugins and switching to the default theme?

If you still able to crawl the old permalink then please provide me an example.

In actual, old customized permalink should not work and throws 404. Redirect needs to be manually added or wait for the next release in wh

[2021-08-13 15:33] mikehues commented on #50
Hi Sami,

I did test with all other plugins disabled and using twentytwentyone theme. Old customized permalinks throw 404s as expected, but the original WP permalink still loads

I repeated this test with a directory structure:

1. I goto example.local/womens/place and I change the permalink to example.local/womens/test
2. All 'view page' links point to example.local/womens/test as expected <-- fi

[2021-08-25 06:30] davidperezgar opened #52 "Redirects to home"
Hello!
I'm using multisite with the plugin activated in a subsite. The url goes to home but in the tab bar you can still edit the page.
How could I debug this issue in order to make it work?

[2021-08-25 07:15] samiahmedsiddiqui commented on #52
Hi @davidperezgar

Can you please share the URLs that are redirecting to Home? Also, if you can share the login to the WP Site where the plugin is activated then it would be great.

NOTE: If you like to share the login then please share it on sami.siddiqui@yasglobal.com

Regards,
Sami

[2021-09-15 09:06] sb-hieuvu opened #53 "View post after create got 404"
Hi Sami Ahmed Siddiqui,

I found one issue in your plugin version 2.2.0. It's make post go 404 after create. Please take a look

Step to reproduce:
1. Category **ABC** with slug is `abc/`.  => **$term_link** at `includes\class-custom-permalinks-frontend.php` line 379 is `abc/`
1. Create post with slug `abc-test-test` and apply to category **ABC**
1. Make sure **$table** at `includes\class-custom-p

[2021-09-17 12:30] samiahmedsiddiqui commented on #52
@davidperezgar As we have already discussed this issue over email so I am closing this issue.

[2021-09-17 12:30] #52 closed

[2021-09-18 01:26] eggzamummy opened #54 "Trailing Slash No Longer Redirecting"
Recently, my site stopped ranking with google. I had someone look into it. They say, that because of the plugin, both versions of /page and /page/ are accessible. Normally wordpress would redirect /page to /page/. Google sees these as two separate urls, apparently not a good practice. Any chance you can guide me how to fix this?

[2021-09-18 01:40] eggzamummy commented on #54
Just a quick note.  We upgraded from 1.7.1 to 2.2 and this is when the problem started.  We have reverted to 1.7.1 and it is working again.

[2021-09-20 08:00] #54 closed

[2021-09-20 08:01] samiahmedsiddiqui commented on #54
@eggzamummy Thank you for reporting this issue. I have verified the issue and fixed it. Fix would be available in `v2.3.0`.

[2021-09-23 09:24] ptrinidad opened #55 "category composed only of numbers generates ERR_TOO_MANY_REDIRECTS error"
Since version 1.7.1, there is only one category in my webpage that stopped working. It is named '101' and its only peculiarity is that it is only formed by numbers. The custom permalink https://MY_URL/101 works perfectly in version 1.5.1 but any further version generates ERR_TOO_MANY_REDIRECTS error. Any other custom permalink works perfectly, even posts starting with /101/post-name.
It only happe

[2021-09-23 10:55] davidperezgar commented on #52
Ok!

[2021-09-29 03:54] tbcan opened #56 "Notice: Undefined variable: site_url in custom-permalinks/admin/class-custom-permalinks-post-types-table.php on line 306"
Version: 2.3.0

It seems that $site_url is not defined yet at L360 of class-custom-permalinks-post-types-table.php when using with WPML

Who can let me know how to deal with it?

Here is capture:

<img width="1533" alt="Screen Shot 2021-09-29 at 10 55 47" src="https://user-images.githubusercontent.com/8665886/135200923-4eeff863-3ec2-4400-967d-c416feea3147.png">

Thanks in advance

[2021-10-18 18:11] fusionlabltd opened #57 "custom permalink plugin gets disabled automatically after cache purge"
Hi,  custom permalink plugin gets disabled automatically after purging opcache. The plugin seems to have an issue with wp-opcache or wp-rocket. If wp-opcache is enabled, we cannot activate the customer permalink plugin.

[2021-11-16 22:27] g-at-ieee opened #58 "Pending Status Preview Link"
WP Version: 5.8
CP Version: 2.3.0

When a post is in pending status (pending review), the preview button and the view post button link to a live url page if the permalink has been changed.  In this case, the page returns a 404.  When the post is in draft mode, the view post and the preview button work as expected.

Looking at the code, the plugin only looks if the post is in draft, otherwise it tr

[2021-11-20 00:06] davidwebca opened #59 "PHP 8 errors on first visit of Taxonomy Permalinks tab"
Hi!

On website.com/wp-admin/admin.php?page=cp-taxonomy-permalinks, I'm getting this error and similar ones at multiple places if I solve this one that are probably due to PHP 8 being harder on type casting and inferring.

[code]

[2021-11-23 20:00] spinfly opened #60 "404s generated when custom permalinks are different but plugin generates the same WordPress permalink slug"
When I have 2 pages on my site with custom permalinks set like this...

http://example.com/widgets/
http://example.com/solutions/widgets/

...the pages initially work, but when they are modified and saved again, they both generate 404s.

Deactivating the Custom Permalinks plugin reveals that the plugin has given both pages the same WordPress permalink slug of "widgets", which I think is the underl

[2021-11-26 07:15] #58 closed

[2021-11-26 07:16] samiahmedsiddiqui commented on #58
@g-at-ieee Thank you for reporting the issue and providing the suggestion. Changes applied and will be available in the `v2.4.0`.

[2021-11-26 07:17] samiahmedsiddiqui commented on #59
@davidwebca Thank you for reporting the issue. Fix applied and will be available in the `v2.4.0`.

[2021-11-26 07:17] #59 closed

[2021-11-26 07:35] #56 closed

[2021-11-26 07:35] samiahmedsiddiqui commented on #56
@tbcan Thank you for reporting the issue. Fix applied and will be available in the `v2.4.0`.

[2021-11-26 08:25] samiahmedsiddiqui commented on #57
@fusionlabltd I have tested the plugin with [WP OPcache](https://wordpress.org/plugins/flush-opcache/) and it is working fine for me. Please give it a try again with Custom Permalinks `v2.4.0` that is released today. Maybe, this issue is already fixed in the `v2.4.0`.

If the issue still persist then please let me know the following details.

1. WordPress Version
2. PHP Version
3. Hosting server
4

[2021-11-30 05:04] g-at-ieee commented on #58
Thank you.  Updated and it's working as intended.

[2021-12-14 21:11] spinfly commented on #60
Just following up that this was not an issue caused by the Custom Permalinks plugin. It was indeed custom code in the theme that was rewriting the WordPress native slug.

[2021-12-14 21:11] #60 closed

[2022-01-13 10:52] ptrinidad commented on #55
Hi @samiahmedsiddiqui . Did you get to replicate and identify the problem? I've checked version 2.4.0 and the problem remains :S

[2022-02-24 13:07] eliyadzz opened #61 "Issue with foreign languages"
If you set a custom permalink in a foreign language there are infinite redirects

please apply this code:

if ( isset( $_SERVER['REQUEST_URI'] ) ) {
			// phpcs:ignore WordPress.Security.ValidatedSanitizedInput.InputNotSanitized
			$this->request_uri = urldecode($_SERVER['REQUEST_URI']);
}

In class-custom-permalinks-frontend.php

[2022-02-25 09:13] samiahmedsiddiqui commented on #61
@eliyadzz Can you please share a use case to test this code?

[2022-02-27 07:26] eliyadzz commented on #61
Just set this slug for a post คาสิโนออนไลน์ที่ดีที่สุด and check it

[2022-03-01 15:16] eliyadzz commented on #61
Hi, please deal with this,
I've applied this change manually in production because it breaks my sites

[2022-03-14 08:42] samiahmedsiddiqui commented on #57
As per not getting any response from along time, I am closing this issue.

[2022-03-14 08:42] #57 closed

[2022-04-11 14:29] cdoneshot opened #64 "error 301 redirect with share slug"
## description
I installed the custom permalink and polylang plugins on my multiple language site and enabled the shared slug in polylang. The site defaults is Chinese. I setup a custom permalink. It looks like this
![image](https://user-images.githubusercontent.com/20412044/162761761-feb1efa6-395c-4bad-a386-6f95cbd044b2.png)
## error
When I visit `mydomain/en/technology`, I am always redirected t